---
import { Github, Linkedin, Mail, Phone } from "lucide-react"
import { buttonVariants } from "../ui/button"

const LINKS = {
  github: "https://github.com/harisraharjo",
  linkedin: "https://www.linkedin.com/in/harisrp/",
  email: "mailto:haris.workspace@gmail.com",
  tel: "tel:+6282122001254",
}

const buttonClass = buttonVariants({ variant: "ghost" })
const cv = "/cv.pdf"

interface Props {
  styling?: astroHTML.JSX.HTMLAttributes["class"]
}

const { styling } = Astro.props
---

<div class={`${styling}`}>
  <a
    href={cv}
    target="_blank"
    rel="noreferrer"
    class="link-hover text-green py-1 text-sm underline-offset-4"
  >
    Resume
  </a>
  <a
    href={LINKS.tel}
    target="_blank"
    rel="noreferrer"
    class={`${buttonClass} link-hover text-green`}
  >
    <Phone size={15} />
  </a>
  <a
    href={LINKS.github}
    target="_blank"
    rel="noreferrer"
    class={`${buttonClass} link-hover text-green`}
  >
    <Github size={15} />
  </a>
  <a
    href={LINKS.email}
    target="_blank"
    rel="noreferrer"
    class={`${buttonClass} link-hover text-green`}
  >
    <Mail size={15} />
  </a>
  <a
    href={LINKS.linkedin}
    target="_blank"
    rel="noreferrer"
    class={`${buttonClass} link-hover text-green`}
  >
    <Linkedin size={15} />
  </a>
</div>
