---
import { Button } from '../ui/button'
import { LINKS } from '../../lib/constants'
import { Linkedin, Github, Mail, Phone, File } from 'lucide-react'
// import { Terminal } from '../ui/terminal'

// const PDF = '/cv.pdf'
---

<>
  <div
    class="flex h-full w-full flex-col justify-between gap-6 py-0 md:max-h-[350px] lg:gap-2"
  >
    <>
      <!-- <h6 class="m-0 text-sm font-light text-gray-500">welcome</h6> -->
      <p class="m-0 text-xl font-light">
        Hi, I'm <b class="font-bold">Haris</b>, a
        <code>software engineer|system programmer</code> with strong focus on backend,
        and system.
        <br />
        Passionate about crafting efficient, reliable, and user-focused solutions
        that power seamless application. With expertise in Python, Rust, JS & TS,
        I tackle complex challenges to deliver robust, and high-quality solutions.
      </p>
      <!-- <p class="m-0 text-l font-light">
          Passionate about crafting efficient, reliable, and user-focused
          solutions that power seamless application. With expertise in Python,
          Rust, JS & TS, I tackle complex challenges to deliver reliable, and
          high-quality solutions.
        </p> -->
    </>
    <!-- <div class="flex gap-2">
      <a href={LINKS.github} aria-label="github profile" target="_blank">
        <Button aria-label="github profile">
          <Github />
          <span class="sr-only">GitHub Profile</span>
        </Button>
      </a>
      <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
        <Button aria-label="linkedin profile">
          <Linkedin />
          <span class="sr-only">Linkedin Profile</span>
        </Button>
      </a>
      <a href={LINKS.email} aria-label="email" target="_blank">
        <Button aria-label="email">
          <Mail />
          <span class="sr-only">Email</span>
        </Button>
      </a>
      <a href={LINKS.tel} aria-label="Phone" target="_blank">
        <Button>
          <Phone />
          <span class="sr-only">Phone</span>
        </Button>
      </a>
      <a target="_blank" href={PDF}>
        <Button>
          <File />
          <span class="sr-only">CV</span>
        </Button>
      </a>
    </div> -->
  </div>
</>
