---
import { TECH } from '../lib/constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'

import { techs } from '../lib/constants'
---

<BaseLayout title={TECH.TITLE} description={TECH.DESCRIPTION}>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="fade">
    <TopLayout>
      <h2 class="pb-4 text-3xl font-semibold">
        {TECH.TITLE}
      </h2>
      <h6 class="scroll-m-20 border-b tracking-tight first:mt-0">
        {TECH.DESCRIPTION}
      </h6>
    </TopLayout>
    <BottomLayout>
      <ul class="w-full">
        {
          techs.all.map((entry) => (
            <li class="animate mt-4 border-b border-black/10 py-8 first-of-type:mt-0 first-of-type:pt-0 last-of-type:border-none dark:border-white/25">
              {/* <div class="mb-4 text-sm uppercase">
                {entry.start} - {entry.end}
              </div> */}
              <h3 class="font-semibold text-primary">{entry.name}</h3>
              {/* <div class="text-sm font-semibold">{entry.name}</div> */}
              {entry.members.map((i) => {
                if (entry.members.length > 1) {
                  return (
                    <ul class="prose dark:prose-invert list-outside list-disc space-y-2 pl-6">
                      <li>{i}</li>
                    </ul>
                  )
                }

                return <p>{i}</p>
              })}
            </li>
          ))
        }
      </ul>
    </BottomLayout>
  </main>
</BaseLayout>
