---
import { Card as ShadcnCard } from './ui/card'

interface Props {
  title?: string
  colSpan?: string
  rowSpan?: string
  href?: string
  styling?: string
  padding?: number
  gap?: number
}

const {
  title,
  colSpan,
  rowSpan,
  href,
  styling,
  padding = 6,
  gap = 0,
} = Astro.props
---

<ShadcnCard
  className={`border-zinc-700/40 bg-zinc-900/30 backdrop-blur-sm gap-${gap} card-animate transform-y-[-40%] align-start perspective-1200 group relative col-span-1 h-auto flex-none transform justify-start overflow-hidden p-${padding} shadow-lg transition duration-75 ease-in-out ${colSpan} ${rowSpan} ${href ? 'hover:border-primary cursor-pointer' : ''} ${styling}`}
>
  <>
    {title && <h2 class="m-0 text-xl font-bold">{title}</h2>}
    <slot name="header" />
    <slot name="content" />
    <slot name="footer" />
  </>
</ShadcnCard>
